.input{
    width: 90%;
    position: relative;
    display: flex; 
    align-items: center;
    .input_field{
        width: 100%;
        border-radius: 50px;
        padding: 15px 15px;
        border: none;
        font-size: 18px;
        transition: 0.25s;
        box-shadow: 0 0 10px #00000057 inset;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        caret-color: red;
    }:focus{
        box-shadow: 0 0 10px 1000px #0000002a;
        outline: none;
    }
    .input_button{
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        border: none;
        background-color: #9fcdf3;
        font-size: 11px;
        margin: 12px;
        box-shadow: 0 0 10px #0000008f;
        transition: 0.2s all;
    }
    .input_button:hover{
        background-color: #f7ead1;
    }
    .input_button:active{
        transform: scale(0.8);
        box-shadow: 0 0 5px #000;
    }
}
.todos{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.todo_single{
    width: 29.5%;
    display: flex;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    .todo_single--text{
        flex: 1;
        padding: 5px;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 20px;
        font-size: 18px;
        border-radius: 10px;
        overflow: hidden;
    }
    .icons_tray{
        .icon{
            margin-left: 10px;
            font-size: 25px;
            cursor: pointer;
        }
    }
  
}
.done{
    text-decoration: line-through;
    opacity: 0.5;
}